@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1f0f0;
  --foreground: #34312b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171519;
    --foreground: #fbf7ec;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:'Times New Roman', Times, serif;
}

header {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 1rem;
}

h1 {
  font-size: 5rem;
  border-bottom: solid thick;
}

h2 {
  font-size: 1.5rem;
}

main {
  color: var(--foreground);
  background: var(--background);
}
