@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 228, 51;
  --background-rgb: 0, 78, 137;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

h1 {
  font-size: xx-large;
  font-weight: bolder;
}

h2 {
  font-size: x-large;
}

.reverse-colors {
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
